<%- include('partials/header'); -%>
<div class="ubackgroundBlack">
    <h1>Dokumentasjon</h1>
    <h2>Nye funksjoner:</h2>
    <ul>
        <li>1. Opptatere verdi til Wish ved bruk av wish._id og findOneAndUpdate.</li>
        <li>2. Bytte plass på wishes ved å lagre array localt og bytte rekkefølge og lagre ny array og bytte ut gamle array i database med ny.</li>
        <li>3. Autorisere bruke ve bruk av custom middleware.</li>
        <li>4. Bytte plass på hvor man kan lage wish.</li>
    </ul>
    <h2>Brukere:</h2>
    <ul >
        <li>Jeg har laget noen test brukere som har passord som : "Passord1" for at dere kunne logge seg på de og teste ut nettsiden.</li>
    </ul>
    <h2 >Prosjektgjennføring</h2>
    <h4 >Her ser dere noen av ting jeg har brukt for å gjennomføre prosjektet mitt:</h4>
    <ul >
        <li><a href="https://github.com/users/MeBorja/projects/5/views/1" style="color: blueviolet;">Github Projects</a></li>
        <li>Ip-plan:</li>
        <li><img src="./img/ip-plan.png" alt=""></li>
        <li>Nettverks Diagram: </li>
        <li><img src="./img/nettvekrDiagram.png" alt="Nettverks Diagram"></li>
        <li>ER Diagram:</li>
        <li><img src="./img/ErDiagram.png" alt=""></li>
    </ul>
    <h2>Veileder for å lage bruker på VM-en</h2>
    
</div>


<%- include('partials/footer'); -%>